@use "global" as *;


.attempt{
    background-color: $lightBlue;
    text-align: center;
    padding: rem(30) rem(15) ;
    @include mq(md) {
        padding: rem(50) rem(30) ;
    }
}

.attempt__title{
    font-size: rem(26);
    font-weight: $medium;
    line-height: calc(36/26);
    letter-spacing: 0.01em;
    @include mq(md) {
        font-size: rem(30);
        font-weight: $bold;
        line-height: calc(40/30);
    }
}

.attempt__title-color{
    color: $blue;
}

.attempt__title-main{
    color: #B99637;
    font-size: rem(40);
    font-weight: $medium;
    letter-spacing: 0.01em;
    margin-top: rem(-10);
    @include mq(md) {
        font-weight: $bold;
        margin-top: rem(-16);
        font-size: rem(70);
    }
}

.attempt__title-font{
    font-size: rem(50);
    @include mq(md) {
    font-size: rem(90);
    }
}

.attempt__list{
    margin-top: rem(10);
}

.attempt__item + .attempt__item{
    margin-top: rem(10);
    @include mq(md) {
        margin-top: rem(35);
    }
}

.attempt__text{
    text-align: left;
    font-family: $second-family;
    font-size: rem(15);
    font-weight: $bold;
    line-height: 2;
    letter-spacing: 0.01em;
    @include mq(md) {
        font-family:$base-family ;
        margin-top: rem(5);
    }
}