@use "global" as *;


.clinic__title{
    width: rem(240);
    height: rem(100);
    margin: rem(50) auto 0;
    @include mq(md) {
        width: rem(417);
        height: rem(125);
    }
}

.clinic__map{
    @include mq(md) {
        margin-top: rem(50);
    }
}



















#clinic-info .skin__img img {
	max-width: 40%;
}

#clinic-info .biyou__img img {
	max-width: 60%;
}

#clinic-info .hours__text p {
	max-width: 350px;
	margin: 0 auto;
}

#clinic-info .hours__text span {
	color: #E63E73;
}

#clinic-info {
	padding: 0 0 clamp(30px, 6vw, 60px) 0;
}

#clinic-info .pulldown02 h2 {
	position: relative;
}

#clinic-info .pulldown02:not(:first-of-type) {
	margin-top: 1.458%;
}

#clinic-info .pulldown02 h2::before,
#clinic-info .pulldown02 h2::after {
	content: '';
	position: absolute;
	background-color: #fff;
}

#clinic-info .pulldown02 h2::before {
	top: 50%;
	right: 4.3%;
	width: 26px;
	font-size: clamp(18px, 2.3vw, 30px);
	height: 4px;
	transform: translateY(-50%);
}

#clinic-info .pulldown02 h2::after {
	top: 50%;
	right: calc(4.3% + 11px);
	width: 4px;
	height: 26px;
	transform: translateY(-50%);
	transition: 1s;
}

#clinic-info .pulldown02 h2.open::after {
	transform: translateY(-50%) rotate(90deg);
}

section.txtarea {
	display: none;
	overflow: hidden;
	transition: max-height 1s ease;
	max-height: 0;
}

#clinic-info article.pulldown02 h2 {
	position: relative;
	color: #fff;
	background: #81C5CA;
	font-size: clamp(14px, 4.5vw, 30px);
	font-weight: 500;
	border-radius: 50px;
	padding: 4% 4.3%;
}

#container article.pulldown02 h2.mid1st {
	border-top: #cecece solid 1px;
}

#container article.pulldown02 h2:after {
	content: url(../img/clinic_openarrow.png);
	position: absolute;
	right: 5px;
	top: 40%;
}

#container article.pulldown02 h2.open:after {
	content: url(../img/clinic_closearrow.png);
	position: absolute;
	right: 5px;
	top: 40%;
}

#container article.pulldown02 section.txtarea {
	display: none;
}

#clinic-info .typelp02 {
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
}

#clinic-info td,
#clinic-info th {
	padding: 20px;
	width: 100px;
	height: 25px;
	font-size: clamp(10px, 3vw, 18px);
}

#clinic-info table.typelp02 tr th {
	border: 0;
	text-shadow: #FFF 1px 1px 0;
	color: #000;
	border-bottom: #ccc solid 1px;
	border-right: #ccc solid 1px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	background: #f0e6cc;
}

#clinic-info table.typelp02 tr td {
	border: 0;
	padding: 5px;
	border-bottom: #ccc solid 1px;
	border-right: #ccc solid 1px;
	background: #E3F0F7;
	text-align: right;
}

#clinic-info table.typelp02 tr a {
	color: #E63E73;
}

#clinic-info table.typelp02 tr td.skin {
	background-color: #EDEDED;
	background-image: url(../img/logomark_s.png);
	background-repeat: no-repeat;
	background-position: 3px center;
	width: 40%;
	padding-left: 35px;
}

#clinic-info .highslide img {
	width: 100%;
	max-width: 100px;
}
