@use "global" as *;


.clinic__title{
    width: rem(240);
    height: rem(100);
    margin: rem(50) auto 0;
    @include mq(md) {
        width: rem(417);
        height: rem(125);
    }
}

.clinic__map{
    @include mq(md) {
        margin-top: rem(50);
    }
}