@use "global" as *;

.progress{
    background-color: $lightBlue;
    text-align: center;
    padding: rem(50) rem(15) 0;
    @include mq(md) {
        padding: rem(50) rem(30) 0;
    }
}

.progress__title{
    font-size: rem(26);
    font-weight: $regular;
    line-height: calc(36/26);
    letter-spacing: 0.01em;
    @include mq(md) {
        font-size: rem(30);
        font-weight: $bold;
        line-height: calc(36/30);
    }
}
.progress__list{
    text-align: left;
    margin-top: rem(20);
}

.progress__item{
    display: flex;
    align-items: flex-start;
    gap: 0 rem(12.61);
    @include mq(md) {
        gap: 0 rem(24);
    }
}

.progress__item + .progress__item{
    margin-top: rem(20);
}

.progress__title-color{
    color: $blue;
}

.progress__number{
    width: 10%;
    @include mq(md) {
        width: 7.25%;
    }
}

.progress__text{
    width: 89.4%;
    margin-top: rem(2);
    font-size: rem(15);
    font-weight: $regular;
    line-height: 2;
    letter-spacing: 0.01em;
    @include mq(md) {
        font-weight: $bold;
        margin-top: rem(10);
    }
}

.progress__remarks{
    margin-top: rem(30);
    padding-bottom: rem(31);
    font-size: rem(10.5);
    font-weight: $regular;
    line-height: calc(18/10.5);
    letter-spacing: 0.05em;
    @include mq(md) {
        margin-top: rem(42);
        padding-bottom: rem(50);
        font-size: rem(12);
        font-weight: $bold;
        line-height: calc(20/12);
    }
}